@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
  --sz: 10vmin;  /* size */
  --on: #000000; /* color on */
  --off: #e0e00b; /* color off */
  --tr: all 0.25s ease 0s;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--tr);
}

	